.page {
  height: 100%;
  padding: 24px;
  background: #fff;
  overflow: auto;
}

.app-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-content {
  padding: 0px 50px;
}

.app-router {
  height: 100%;
  padding: 24px;
}

/* Override antd css */
div.ant-message {
  bottom: 20px;
  top: initial;
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 10px;
  }

  .app-content {
    padding: 0px 10px;
  }
}