.forex-converter {
    display: grid;
    grid-template-columns: 1.5fr 2fr auto 2fr;
    gap: 10px;

    align-items: center;
    justify-content: center;
}

.forex-converter > div {
    padding: 10px;
}

.forex-amount,
.source-currency,
.target-currency {
    display: grid;
    gap: 10px;
}

.ant-input-number-input::before {
    content: "$"
}

.source-currency {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.target-currency > .ant-select {
    overflow: hidden;
}

.source-currency-value {
    border: 1px solid #d9d9d9;
    background-color: #FFF;
    line-height: 30px;
    padding: 0px 11px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.target-currency .ant-select-selection-item,
.target-currency-option .ant-select-item-option-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.swap-currency {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.source-currency.swap {
    grid-column: 4;
    grid-row: 1;
}

.target-currency.swap {
    grid-column: 2;
    grid-row: 1;
}

.swap-btn {
    grid-row: 2;
}

.country-flag {
    border-radius: 4px;
}

.field-heading {
    font-weight: 600;
}

.converted-amount {
    grid-column: 1/5;
    display: grid;
}

.converted-value {
    font-size: 2em;
    font-weight: 600;
}

.secondary-info {
    padding-top: 25px;
    font-size: 0.8em;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-updated {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .forex-converter {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
        gap: 0px;
    }

    .forex-amount,
    .source-currency,
    .target-currency,
    .converted-amount {
        width: 100%;
    }

    .secondary-info {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .last-updated {
        text-align: left;
    }

    .source-currency.swap {
        grid-column: 1;
        grid-row: 4;
    }
    
    .target-currency.swap {
        grid-column: 1;
        grid-row: 2;
    }

    .source-currency {
        grid-column: 1;
        grid-row: 2;
    }
    
    .target-currency {
        grid-column: 1;
        grid-row: 4;
    }

    .converted-amount {
        grid-column: inherit;
    }
}